<article class="contact active" data-page="contact">
    <header>
        <h2 class="h2 article-title">Contact</h2>
    </header>

    <section class="mapbox">
        <figure>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d243.02873333779465!2d77.62711380224849!3d12.94240747371862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae14411180410b%3A0xf49b098cfb099229!2s20th%20G%20Cross%20Rd%2C%20Ejipura%2C%20Bengaluru%2C%20Karnataka%20560047!5e0!3m2!1sen!2sin!4v1741278864571!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </figure>
    </section>

    <section class="contact-form">
        <h3 class="h3 form-title">Contact Form</h3>

        <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" class="form">
            <div class="input-wrapper">
                <input type="text" name="fullname" class="form-input" placeholder="Full name" required
                    [(ngModel)]="formData.fullname" (input)="onInputChange()">

                <input type="email" name="email" class="form-input" placeholder="Email address" required
                    [(ngModel)]="formData.email" (input)="onInputChange()">
            </div>

            <textarea name="message" class="form-input" placeholder="Your Message" required
                [(ngModel)]="formData.message" (input)="onInputChange()"></textarea>

            <button class="form-btn" type="submit" [disabled]="!isFormValid">
                <app-ion-icon name="paper-plane"></app-ion-icon>
                <span>Send Message</span>
            </button>
        </form>
    </section>
</article>

<!-- <div class="card flex justify-center">
    <p-toast position="top-left" key="tl" />
    <p-toast position="bottom-left" key="bl" />
    <p-toast position="bottom-right" key="br" />
    <div class="flex flex-wrap gap-2">
        <p-button pRipple label="Bottom Right" />
    </div>
</div> -->