.about .article-title {
    margin-bottom: 15px;
  }
  
  .about-text {
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
  }

  .tech-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
  }

  .tech-item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap: 45px;
    align-items: center;
    color: #fff;
    background: var(--border-gradient-onyx);
    padding: 20px;
    border-radius: 14px;
    box-shadow: var(--shadow-2);
    z-index: 1;
  }

  .tech-stack-title {
    margin-bottom: 20px;
  }
  
  .about-text p {
    margin-bottom: 15px;
  }
  
 
  
  
  
  @media (min-width: 450px) {
    .tech-item {
      gap: 20px;
      padding: 15px;
    }
  }
  
  @media (min-width: 580px) {
    .about .article-title {
      margin-bottom: 20px;
    }
    .about-text {
      margin-bottom: 40px;
    }
  
  
    .content-card {
      padding: 30px;
      padding-top: 25px;
    }
  
  
    
  }
  
  @media (min-width: 768px) {
    
  }
  
  