<article class="about active" data-page="about">
  <header>
    <h2 class="h2 article-title">About me</h2>
  </header>

  <section class="about-text">
    <p>
      I'm a Frontend Developer from India, passionate about building interactive, user-friendly web applications. With
      experience in Angular and modern frontend technologies, I specialize in turning ideas into dynamic, responsive
      digital experiences.
    </p>

    <p>
      I have contributed to collaborative projects, developing feature-rich applications that prioritize both
      functionality and aesthetics. My goal is to bring your vision to life with creativity, performance, and precision.
      My focus is on crafting clean, scalable code while ensuring seamless API integrations and delivering visually
      appealing interfaces.
    </p>
  </section>

  <section class="tech-stack">
    <h3 class="h3 tech-stack-title">Tech Stack</h3>

    <ul class="tech-list">
      <li class="tech-item">
        <div class="icon-box">
          <app-ion-icon name="logo-angular"></app-ion-icon>
        </div>
        <div>
          <span class="contact-info">
            Angular
          </span>
        </div>
      </li>
      <li class="tech-item">
        <div class="icon-box">
          <app-ion-icon name="logo-javascript"></app-ion-icon>
        </div>
        <div class="contact-info">
          <span>
            JavaScript
          </span>
        </div>
      </li>
      <li class="tech-item">
        <div class="icon-box">
          <ion-icon src="../../../assets/images/svgviewer-output.svg" [style.color]="'hsl(44.9, 100%, 71.96%)'"></ion-icon>
        </div>
        <div class="contact-info">
          <span>
            HTML
          </span>
        </div>
      </li>
      <li class="tech-item">
        <div class="icon-box">
          <app-ion-icon name="logo-sass"></app-ion-icon>
        </div>
        <div class="contact-info">
          <span>
            SASS
          </span>
        </div>
      </li>
      <li class="tech-item">
        <div class="icon-box">
          <ion-icon src="../../../assets/images/svgviewer-output (5).svg" [style.color]="'hsl(44.9, 100%, 71.96%)'"></ion-icon>
        </div>
        <div class="contact-info">
          <span>
            CSS
          </span>
        </div>
      </li>
      <li class="tech-item">
        <div class="icon-box">
          <app-ion-icon name="logo-github"></app-ion-icon>
        </div>
        <div class="contact-info">
          <span>
            GitHub
          </span>
        </div>
      </li>
      <li class="tech-item">
        <div class="icon-box">
          <app-ion-icon name="logo-nodejs"></app-ion-icon>
        </div>
        <div class="contact-info">
          <span>
            Node.js
          </span>
        </div>
      </li>
      <li class="tech-item">
        <div class="icon-box">
          <ion-icon src="../../../assets/images/svgviewer-output (1).svg" [style.color]="'hsl(44.9, 100%, 71.96%)'"></ion-icon>
        </div>
        <div class="contact-info">
          <span>
            TypeScript
          </span>
        </div>
      </li>
      <li class="tech-item">
        <div class="icon-box">
          <ion-icon src="../../../assets/images/svgviewer-output (3).svg" [style.color]="'hsl(44.9, 100%, 71.96%)'"></ion-icon>
        </div>
        <div class="contact-info">
          <span>
            C++
          </span>
        </div>
      </li>
      <li class="tech-item">
        <div class="icon-box">
          <ion-icon src="../../../assets/images/svgviewer-output (7).svg" [style.color]="'hsl(44.9, 100%, 71.96%)'"></ion-icon>
        </div>
        <div class="contact-info">
          <span>
            Git
          </span>
        </div>
    </ul>
  </section>
</article>