<article class="resume active" data-page="resume">
    <header>
        <div class="title-wrapper-1">
            <h2 class="h2 article-title">Resume</h2>
            <span class="resume-btn">
                <a href="https://drive.google.com/file/d/1058zEDWTqYmKnHeSl_u3tswASA-nD09W/view?usp=drive_link" download class="btn btn-primary">
                    <ion-icon src="../../../assets/images/downloadlogo.svg"></ion-icon>
                </a>
            </span>
        </div>
    </header>

    <section class="timeline">
        <div class="title-wrapper">
            <div class="icon-box">
                <app-ion-icon name="book-outline"></app-ion-icon>
            </div>

            <h3 class="h3">Education</h3>
        </div>
        <ol class="timeline-list">
            <li class="timeline-item" *ngFor="let item of education">
                <h4 class="h4 timeline-item-title">{{ item.title }}</h4>
                <span>{{ item.date }}</span>
                <p class="timeline-text">{{ item.description }}</p>
            </li>
        </ol>
    </section>

    <section class="timeline">
        <div class="title-wrapper">
            <div class="icon-box">
                <app-ion-icon name="book-outline"></app-ion-icon>
            </div>

            <h3 class="h3">Experience</h3>
        </div>

        <ol class="timeline-list">
            <li class="timeline-item" *ngFor="let item of experience">
                <h4 class="h4 timeline-item-title">{{ item.title }}</h4>
                <span>{{ item.date }}</span>
                <p class="timeline-text">{{ item.description }}</p>
            </li>
        </ol>
    </section>
</article>